.logo {
    max-height: 94px;
}

body {
    font-family: lato;
    font-weight: 400;
    font-size: 18px;
}

.container {
    max-width: 1240px;
}

.search-bar {
    position: relative;
}

#search {
    height: 69px;
    border-color: white;
    background-color: #E7E7E7;
    border-radius: 5px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

#search::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 25%;
}

#search::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 25%;
}

#search:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 25%;
}

#search:-moz-placeholder {
    /* Firefox 18- */
    opacity: 25%;
}

.filter-buttons {
    display: flex;
  margin-top: 20px;
}


.filter-button {
    width: 170px;
    height: 69px;
    color: white;
    border: none;
    text-align: left;
    border-radius: 5px;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}

.filter-button i {
    position: absolute;
    top: 25px;
    right: 18px;
}

.filter-button-ingredients {
    background-color: #3282F7;

}

.filter-button-appliances {
    background-color: #68D9A4;
    margin-left: 20px;
    margin-right: 20px;
}

.filter-button-ustensils {
    background-color: #ED6454;
}

.search-by-tag-dropdown {
    color: white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    /* width: 125vw; */
    /* max-width: 667px; */
}

.ingredients-dropdown {
    background-color: #3282F7;
    display: none;
}

.appliances-dropdown {
    background-color: #68D9A4;
    display: none;
    margin-left: 18px;
    margin-right: 18px;
}

.ustensils-dropdown {
    background-color: #ED6454;
    display: none;
}

.search-by-tag-bar {
    color: white;
    height: 69px;
    border: none;
    padding-left: 18px;
    width: 100%;
    font-weight: 700;
}

.ingredient-search-bar {
    background-color: #3282F7;
}

.appliance-search-bar {
    background-color: #68D9A4;
}

.ustensil-search-bar {
    background-color: #ED6454;
}

.search-by-tag-bar:focus {
    outline: none;
}

.search-by-tag-bar::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    opacity: 50%;
    font-size: 18px;
    font-weight: 700;
}

.search-by-tag-bar::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 50%;
    font-size: 18px;
    font-weight: 700;
}

.search-by-tag-bar:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
    opacity: 50%;
    font-size: 18px;
    font-weight: 700;
}

.search-by-tag-bar:-moz-placeholder {
    /* Firefox 18- */
    color: white;
    opacity: 50%;
    font-size: 18px;
    font-weight: 700;
}

.search-by-tag-bar-icon {
    position: absolute;
    top: 25px;
    right: 18px;
}

.tag-list {
    padding-left: 18px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
}

.tag-list li {
    padding-right: 18px;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    padding-top: 4px;
    white-space: nowrap;
}

.ingredients-dropdown i {
    cursor: pointer;
}

.ustensils-dropdown i {
    cursor: pointer;
}

.appliances-dropdown i {
    cursor: pointer;
}

.search-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    font-weight: 700;
}

.recipes-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width:992px) {
    .recipes-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:576px) {
    .recipes-section {
        grid-template-columns: 1fr;
    }
}

.card img {
    height: 178px;
}

.card {
    border: none;
    max-height: 364px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.card-body-left {
    width: 50%;
}

.card-body-right {
    width: 50%;
}

.card-title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    width: 65%;
}

.card-time {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

.card-time-value {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.card-time i {
    padding-right: 7px;
    padding-top: 4px;
}

.card-body {
    background-color: #E7E7E7;

}

.card-body-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

}

.card-main-text {
    display: flex;
}

.card-ingredients {
    margin: 0;
    font-size: 12px;
    line-height: 14.4px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    padding-right: 12px;
}

.ingredient {
    font-weight: 700;
}

.card-ingredients p {
    margin: 0;
}

.card-instructions {
    font-family: roboto;
    font-size: 12px;
    line-height: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}